
.button {
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    cursor: pointer;
    padding: 1.4em 2em 1.2em;
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #ccc;
    border-radius: 0.3em;
    text-decoration: none;
}